#container {
    width: 1140px;
}

#blog-post-container {
    width: 75%;
    float:left;
}

#other-posts {
    width: 20%;
    float:right;
}

#author-box {
    border: 1px solid red;
}


.tags {
    margin:0;
    padding:0;
}

.tags li {
    list-style:none;
    display:inline;
    margin-right:5px;
}

.tags li a {
    text-decoration:none;
}